@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.copy-right {
  padding: 1em;
  text-align: center;
  background: linear-gradient(to left bottom,#6f1e97,#6431a6,#5440b4,#3d4dc1,#0e59cc);
  font-weight: 300;
}
